.single {
  &__inner {
    margin-top: 109px;
    .about__contact {
      margin-top: 120px;
    }
  }
  &__title {
    position: relative;
    text-align: center;
    color: #303337;
    &::after {
      content: url("../img/contact/mount2.png");
      position: absolute;
      top: -50px;
      left: 90px;
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
  }
  &__container {
    max-width: 950px;
    margin: 0 auto;
  }
  &__image {
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__main {
    margin: 45px 0 68px;
    padding-bottom: 64px;
    border-bottom: 1px solid #dddddd;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $titleFont;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p,
    ul,
    li {
      line-height: 30px;
    }
    figure {
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn {
      height: 56px;
      width: 180px;
      text-align: center;
      padding: 17px 35px;
    }
  }
  &__share {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 0 42px;
    margin: 0 40px;
    height: 123px;
    &-title {
      font-family: $titleFont;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #4c5057;
      margin-right: 25px;
    }
  }

  &__autor {
    display: flex;
    align-items: center;
    &-image {
      margin-right: 40px;
      width: 123px;
      height: 123px;
      object-fit: cover;
      object-position: center;
    }
    &-name {
      font-size: 20px;
      line-height: 34px;
      color: #4c5057;
      margin-bottom: 0;
    }
    &-position {
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #b0b0b0;
      margin-top: 0;
    }
  }
}

.heateorSssSharingRound {
  position: relative;
  &:hover {
    &::after {
      opacity: 0.6;
    }
  }
  i {
    opacity: 0;
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
  }

  &:nth-child(1) {
    &::after {
      content: url("../img/single/facebook.png");
    }
  }
  &:nth-child(2) {
    &::after {
      content: url("../img/single/insta.png");
    }
  }
  &:last-child {
    display: none;
  }
}

@media screen and (max-width: $xl - 1px) {
  .single {
    &__title {
      font-size: 75px;
      line-height: 80px;
      margin-top: 0;
    }
    &__image {
      height: 400px;
    }
  }
}
@media screen and (max-width: $lg - 1px) {
  .single {
    &__title {
      &::after {
        left: 0;
      }
    }

    &__content {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__bottom {
      flex-wrap: wrap;
      justify-content: center;
      & > div {
        width: 50%;
      }
    }
    &__button {
      justify-content: center;
    }
    &__share {
      margin: 0;
      padding: 0;
      border-right: none;
    }
    &__autor {
      padding-top: 30px;
      border-top: 1px solid #dddddd;
      justify-content: center;
    }
  }
}
@media screen and (max-width: $md - 1px) {
  .single {
    &__inner {
      margin-top: 70px;
      .about__contact {
        margin-top: 60px;
      }
    }
    &__title {
      font-size: 60px;
      line-height: 65px;
    }
    &__image {
      height: 300px;
    }
  }
}
@media screen and (max-width: $sm - 1px) {
  .single {
    &__title {
      font-size: 45px;
      line-height: 50px;
      &::after {
        left: -100px;
      }
    }

    &__bottom {
      & > div {
        width: 100%;
      }
    }
    &__share {
      border-left: none;
    }
    &__autor {
      padding-top: 0;
      border-top: none;
      justify-content: center;
    }
  }
}
