.hero__title {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease-in-out 1s;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.header__title,
.section-title,
.about__des,
.about__row,
.about__bottom-image,
.about__left-title,
.map__left,
.offer__title,
.offer__row,
.gallery__list,
.gallery__container,
.single__title,
.single__image,
.single__main,
.contact__left,
.contact__right {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.7s ease-in-out 0.3s;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.map__text,
.about__right,
.about__bottom-text,
.opinion__inner,
.page-contact,
.header-box {
  opacity: 0;
  transition: all 0.7s ease-in-out 0.3s;
  &.active {
    opacity: 1;
  }
}

.about__left {
  &-text,
  &-link {
    opacity: 0;
    transform: translateY(80px);
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &-text {
    transition: all 0.7s ease-in-out 0.4s;
  }
  &-link {
    transition: all 0.7s ease-in-out 0.5s;
  }
}
