$mainFont: 'Archivo', sans-serif;
$titleFont: 'Playfair Display', serif;

// COLORS
$darkBg: #303337;
$brownBg: #A68363;
$btnBg: #EFA31A;

// MEDIA QUERIES
$xxl: 1460px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;